*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

h3{
  background-color: grey;
  width: 100%;
}
